.accordion_wrapper {
    display: flex;
    height: 43vh;
    width: auto;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 1200px;
}

.accordion_item {
    margin-bottom: 5px;
    padding: 15px 20px;
    border: 2px solid #E1B768;
    border-radius: 10px;
}

.accordion_title {
    color: #E1B768;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

.accordion_content {
    color: #E1B768;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.accordion_content.show {
    height: auto;
    max-height: 9999px;
    padding-top: 20px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}