/* Styling for Accordion.Body */
.accordion-body {
    color: #E1B768;
    font-size: 19px;
}

.accordion-button {
    background-color: #171717 !important;
    color: #e1b768;
    border: 2px solid #E1B768;
    border-radius: 10px;
    font-size: 25px;
}

.accordion-button:not(.collapsed) {
    color: #e1b768;
    font-size: 25px;
}

.accordion {
    width: 90%;
    margin: 0 auto; /* Centering the accordion */
}

.accordion-button::after {
    color: #E1B768;
}