.carousel {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
}

.carousel_card {
    margin-left: 30px;
}

.slick-dots li.slick-active button:before {
    color: #E1B768;
}

.slick-dots li button:before {
    color: white;
}

.slick-prev:before, .slick-next:before {
    color: #E1B768;
}

#team_cards {
    width: 14rem;
    height: 23rem;
}


#home_cards {
    width: 1000px;
    height: 600px;
    margin-top: 130px;
    margin-left: 220px;
}

@media (max-width: 767px) {
    /* styles for screens up to 767px wide */
    #home_cards {
      height: 300px;
      width: 100%;
      margin-top: 130px;
      margin-left: 0px;
    }
}
  
@media (max-width: 480px) {
    /* styles for screens up to 480px wide */
    #home_cards {
      height: 200px;
      width: 100%;
      margin-top: 130px;
      margin-left: 0px;
    }
}

@media (max-width: 320px) {
    /* styles for screens up to 320px wide */
    #home_cards {
      height: 166px;
      width: 100%;
      margin-top: 130px;
      margin-left: 0px;
    }

    #team_cards {
      width: 12rem;
      height: 20rem;
    }
}