*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: inter;
    margin: 2rem;
}

.card {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    border-radius: 0.2rem;
    box-shadow: 0 2px 20px #E1B768;
    flex-direction: column;
}

.card_wrapper {
    padding-top: 40px;
    display: grid;
    gap: 7rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
}

.card_img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.card_title {
    padding: 1rem;
    color: #E1B768;
}

.card_description {
    padding: 0 1rem;
    color: #E1B768;
}

.card_btn {
    padding: 0.8rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 1rem;
    border: 2px solid #E1B768;
    background: transparent;
    color: #E1B768;
    transition: background 200ms ease-in, color 200ms ease-in;
    border-radius: 0.2rem;
}

/* .card:hover{
    transform: scale(1.02);
} */

.card_btn:hover{
    background: #E1B768;
    color: black;
}