.custom-tabs {
  max-width: 80%;
}

.title-txt h1 {
  font-size: 20px;
  color: #E1B768;
}

.nav-link {
  color: #E1B768;
  font-size: 20px;
  font-weight: 500;
}

.center-tabs {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 25vh;
}

.nav-link.active {
  background-color: #E1B768 !important;
}

.custom-tabs .nav-link:hover {
  background-color: #E1B768; /* Set the desired hover background color */
  color: black;
}

.nav-tabs {
  border-color: #E1B768;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.calendar-iframe {
  width: 100%;
  max-width: 700px;
  height: 500px;
}