.carousel {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
}

.carousel_card {
    margin-left: 30px;
}

.slick-dots li.slick-active button:before {
    color: #E1B768;
}

.slick-dots li button:before {
    color: white;
}

.slick-prev:before, .slick-next:before {
    color: #E1B768;
}

#team_cards {
    width: 14rem;
    height: 23rem;
}


#home_cards {
    width: 1000px;
    height: 600px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 10px #E1B768;
}

#home {
    margin-top: 130px;
}

@media (max-width: 767px) {
    /* styles for screens up to 767px wide */
    #home_cards {
      height: 300px;
      width: 100%;
    }
}
  
@media (max-width: 480px) {
    /* styles for screens up to 480px wide */
    #home_cards {
      height: 200px;
      width: 100%;
    }
}

@media (max-width: 320px) {
    /* styles for screens up to 320px wide */
    #home_cards {
      height: 166px;
      width: 100%;
    }

    #team_cards {
      width: 12rem;
      height: 20rem;
    }
}

.row_team {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}

.column_team {
  padding: 0.5em 0;
}

.card_team {
  border: 5px solid #E1B768;
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #E1B768;
  cursor: pointer;
  transition: 0.3s;
}

.card_team .img_container_team {
  width: 8em;
  height: 8.4em;
  background-color: #E1B768;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}

.card_team img {
  width: 100%;
  border-radius: 50%;
}

.card_team h3 {
  font-weight: 500;
}

.card_team p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}

.icons_team {
  width: 50%;
  min-width: 180px;
  margin: auto;
  justify-content: space-between;
}

.card_team a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
  margin-right: 20px;
}

.card_team:hover .img_container_team {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    .card_section {
      padding: 1em 7em;
    }

}

@media screen and (min-width: 992px) {
    .card_section {
        padding: 1em;
    }
}

.nav-link:hover {
  background-color: #E1B768; /* Set the desired hover background color */
  color: black;
}