.container {
    width: 100%;
    margin: auto;
    max-width: 1300px;
}

section {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    border-bottom: 2px solid #E1B768;
    color: #E1B768;
    padding-bottom: 7px;
    width: 300px;
}

.join-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    padding-top: 2px;
    color: #E1B768;
}

.join-p-div {
    padding-top: 20px;
}

.join_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.join_card {
    flex: 0 0 calc(33.33% - 20px);
    width: 100%;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid transparent;
    color: #E1B768;
    justify-self: center;
}

.join-btn {
    border: none;
    color: black;
    background: #E1B768;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 2px;
    cursor: pointer;
    font-family: 'Inter';
    max-width: 120px;
    width: 120px;
    height: 40px;
    font-weight: 600;
}

.join-btn:hover {
    background-color: #f1c97e;
}